section.translation-example > blockquote {
    margin-bottom: 1rem;
    color: #000;
}

section.translation-example > blockquote > p {
    font-style: normal;
}

section.translation-example > blockquote[lang="en-gb"] {
    color: rgb(192, 48, 48);
}
section.translation-example > blockquote[lang="pravlish"] {
    color: rgb(128, 128, 32);
}
section.translation-example > blockquote[lang="pravic"] {
    color: rgb(48, 192, 48);
}

span.translation-example {
    font-style: italic;
    font-weight: bold;
}

span.translation-example[lang="en"] {
    color: rgb(192, 48, 48);
}

span.translation-example[lang="pravlish"] {
    color: rgb(128, 128, 32);
}

span.translation-example[lang="pravic"] {
    color: rgb(48, 192, 48);
}