.translation-example > blockquote {
    margin-bottom: 1rem;
    color: #000;
}

.translation-example > blockquote > p {
    font-style: normal;
}

.translation-example > blockquote[lang="en-gb"] {
    color: rgb(192, 48, 48);
}
.translation-example > blockquote[lang="pravlish"] {
    color: rgb(128, 128, 32);
}
.translation-example > blockquote[lang="pravic"] {
    color: rgb(48, 192, 48);
}